/* App.css */
.layout {
  background-image: url('./images/background.jpeg'); /* Replace with your background image path */
  background-size: cover;
  background-position: center;
}

.site-layout-content {
  background: rgba(0, 0, 0, 0.5); /* Adding a semi-transparent background for better readability */
  padding: 24px;
  min-height: 280px;
  border-radius: 8px;
  color: #fff;
}

.content {
  padding: 50px;
}

.ant-typography {
  color: #fff !important;
}

.ant-menu-dark.ant-menu-horizontal {
  line-height: 64px;
  flex: 1;
}

.ant-menu-dark .ant-menu-item-selected {
  background-color: rgba(255, 255, 255, 0.2);
}

.ant-card-meta-title, .ant-card-meta-description {
  color: #000 !important;
}

.ant-card {
  border-radius: 8px;
  overflow: hidden;
}

.company-name {
  color: #fff;
  font-size: 16px;
  padding: 0 24px;
  line-height: 64px;
  text-align: right;
}
